.icon_close {
  background-image: url(/images/Close\ Icon.svg);
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  padding: 5px;
}

.icon_close:hover {
  opacity: 0.3;
  transition: opacity 0.3s;
}

@media screen and (max-width: 400px) {
  .icon_close {
    width: 20px;
    height: 20px;
    background-image: url(/images/mClose\ Icon.svg);
    right: 0;
    top: -30px;
  }
}
