.modal__heading {
  margin: 0px;
  padding-bottom: 50px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.input__text {
  margin: 0;
  border: none;
  outline: none;
  width: 330px;
  height: 14px;
  margin-left: 45px;
  margin-bottom: 45px;
  margin-right: 40px;
  border-bottom: 0.2px solid black;
  padding-bottom: 5px;
}

.like__counter {
  padding-top: 5px;
  font-size: 15px;
  font-weight: normal;
}

.error-message {
  color: red;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -35px;
  width: 325px;
  position: absolute;
}

.error-message.first {
  color: red;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -35px;
  width: 325px;
  position: absolute;
  bottom: 160px;
}

.error-message.second {
  color: red;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -30px;
  width: 325px;
  position: absolute;
  top: 235px;
}

.error-message.avatar {
  color: red;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -35px;
  width: 325px;
  position: relative;
  top: -5px;
}
