@import url(../header/logo/header__logo.css);

.header {
  max-width: 882px;
  padding: 45px 0 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  height: 74px;
  margin-bottom: 25px;
}

@media screen and (max-width: 320px) {
  .header {
    padding: 28px 0 0;
    box-sizing: border-box;
  }
}
