.footer__text {
  color: #545454;
  margin-top: 64px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 400px) {
  .footer__text {
    width: 282px;
    height: 14px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin: 48px auto 36px;
  }
}
