.profile__btn_edit {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  background-color: black;
  background-image: url(/images/Edit\ Button.svg);
  background-position: center;
  cursor: pointer;
}

.profile__btn_edit:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

.profile__info__btn {
  width: 24px;
  height: 24px;
}

.profile__btn {
  display: flex;
  margin-left: 245px;
  align-items: center;
}

.profile__btn_add {
  background-image: url(/images/addbutton.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border: 2px solid white;
  width: 150px;
  height: 50px;
  background-color: black;
  cursor: pointer;
}

.profile__btn_add:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

@media screen and (max-width: 400px) {
  .profile__btn {
    display: flex;
    margin: 0;
    padding-top: 40px;
  }
  .profile__btn_edit {
    width: 18px;
    height: 18px;
  }
  .profile__btn_add {
    width: 282px;
    height: 50px;
    padding-top: 36px;
  }
}
