@import url(./btn_like/cards__btn_like.css);
@import url(./grid/cards__grid.css);
@import url(./text/cards__text.css);

.elements {
  margin: 0;
  width: 880px;
  height: 744px;
  margin-top: 51px;
}

@media screen and (max-width: 420px) {
  .elements {
    display: flex;
    margin: 0 55px;
    padding-top: 99px;
    width: 100%;
    height: 2268px;
  }
}
