.modal__button-close {
  background-image: url(/src/images/CloseIcon.svg);
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  padding: 5px;
}
