.elements__grid {
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 20px;
  grid-column-gap: 17px;
}

.grid__element {
  position: relative;
  width: 282px;
  height: 361px;
  background-image: url(/src/images/Rectangle.jpg);
  border-radius: 10px 10px 10px 10px;
}

.grid__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}

.trash-icon {
  position: relative;
  top: -265px;
  right: -245px;
  width: 18px;
  height: 19px;
  background-image: url(/src/images/Trash.svg);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.trash-icon:hover {
  opacity: 0.5;
}

@media (max-width: 420px) {
  .elements__grid {
    display: flex;
    margin: 100px auto;
    width: 100%;
  }
}
